body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #676767;
	font-size: 16px;
	line-height: 1.6;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
	background: #EEEEEE;
}
/*==============================*/
/*=====   Common styles   =====*/
/*============================*/
*{outline:none}
a,a:hover,a:focus{outline: none; outline-offset: 0;text-decoration:none}
img,button,input,textarea,a{
	margin:0;
	outline:none;
	border:none;
	background:none
}
img{max-width: 100%; vertical-align: top;}

.container{max-width: 1170px}
label.error {
    color: #cc0000 !important;
    font-size: 13px;
}
/*=================================*/
/*=====    Css3 Effects    =======*/
/*===============================*/
{
	-webkit-transition:all .3s;	/* Chrome, Safari, Opera */
	-ms-transition:all .3s;	/* IE 9 */
	-moz-transition:all .3s; /* Standard syntax */
	transition:all .3s;	
}

a,a:hover{
	-webkit-transition:all .5s;	/* Chrome, Safari, Opera */
	-ms-transition:all .5s;	/* IE 9 */
	-moz-transition:all .5s; /* Standard syntax */
	transition:all .5s;	
}

{
	-webkit-transition:all 1s;	/* Chrome, Safari, Opera */
	-ms-transition:all 1s;	/* IE 9 */
	-moz-transition:all 1s; /* Standard syntax */
	transition:all 1s;	
}

{
	-webkit-transition:all 2s;	/* Chrome, Safari, Opera */
	-ms-transition:all 2s;	/* IE 9 */
	-moz-transition:all 2s; /* Standard syntax */
	transition:all 2s;	
}

{
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    -moz-transform: scale(1.1); /* Standard syntax */
    transform: scale(1.1);
}

/*=================================*/
/*=====    All headings    =======*/
/*===============================*/
h1,h2,h3,h4,h5,h6{font-family: sans-serif;}
h1{
	font-size: 28px;
	line-height:32px;

}
h2{
	font-size:24px;
	line-height:29px;
}
h3{
	font-size:20px;
	line-height:25px;
}
h4{
	font-size:18px;
	line-height:23px;
}
h5{
	font-size:16px;
	line-height:21px;
}
h6{
	font-size:14px;
	line-height:19px;
}
.sec-pdd1{
	padding: 50px 0;
}
.sec-pdd2{
	padding: 100px 0;
}
.sec-pdd3{
	padding: 30px 0;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}