
/*-- main --*/
.modal-body {
padding: 30px 10px !important;
}
.modal-content {
    padding: 0 0 0px !important;
}
.main-agileits {
    color: #000;
}
.main-row {
    margin: 10px auto;
    position: relative;
}

.four.w3grids-agile {
    float: left;
    width: 32%;
    margin-left:2%;
}

.four.w3grids-agile:first-of-type{
    margin-left: 0;
}

.pt-membership.button {
    margin-top: 26px;
    margin-right: 14px;
    padding: 2px 20px;
}
button#pt_button {margin-top:10px; padding:3px 15px}
.form-wrapper{


}
.form-wrapper input[type="text"],.form-wrapper input[type="email"],.form-wrapper input[type="password"] {
    display: block;
    padding: 0.7em 1em;
    background: none;
    width: 100%;
    outline: none;
    font-size: 0.9em !important;
    font-family: 'Open Sans', sans-serif !important;
} 
.form-wrapper input[type="radio"]{
    display: none;
} 
.form-wrapper .section h4{
    color: #666;
}
.main-agileits h3 {
    margin: 0;
    padding-bottom: 8px;
    font-size: inherit;
    color: #676767;
    font-weight: 700;
    font-family: inherit;
}
.form-wrapper input[type="radio"] + label{
    display: block;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
} 
.form-wrapper input[type="radio"] + label:before{
    content: "✔";
    text-align: center;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: yellowgreen;
    display: none;
} 
.form-wrapper input[type="radio"]:checked + label:before{
    display: inline-block;
} 

.form-wrapper input[type="radio"]:checked + label{
    border: 1px solid #204d74;
} 
.form-wrapper input[type="radio"]:checked + label h4 {
    color: #204d74;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.form-wrapper .section p {
    font-size: 1em;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 3em;
    line-height:2em;
}
/*-- //main --*/ 
/*-- copyright --*/
.w3copyright-agile {
    margin: 2em 0;
    text-align: center;
}
.w3copyright-agile p {
    font-size: 0.9em;
    /*color: #fff;*/
    line-height: 1.8em;
    letter-spacing: 1px;
}
.w3copyright-agile p a{
    /*color: #fff;*/
}
.w3copyright-agile p a:hover{
    color: #9edc55;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.hd-btm-bar {
    background: #e0e0e0;
    padding: 30px 0;
}
.alert.alert-error.success-color {
    color: #008000;
    font-size: 17px;
    letter-spacing: .2px;
    position: relative;
}
.alert.alert-error {
    background: #eee;
    color: #cc0000;
    position: relative;
}
.loading-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 88px;
    right: 113px;
}

.pt_login > .loading-img {
    top: 50%;
    right: 40%;
}
span.required {
    color: #cc0000;
    font-size: 15px;
    margin-left: 2px;
}
span.optional {
    font-weight: normal;
    font-size: 14px;
    margin-left: 6px;
}

/*-- //Doctor registration --*/  

div#doctor-form .form-outer h2 {
    margin-top: 0;
    color: #1D74CA;
}
div#doctor-form .form-outer {
    padding: 15px;
}
/*-- //copyright --*/   
/*-- responsive-design --*/ 
@media(max-width:1080px){
    .main-row {
        width: 60%; 
        margin: 4em auto;
    }
} 
@media(max-width:991px){
    h1 {
        font-size: 2.5em; 
    }
    .main-row {
        width: 63%;
        margin: 3em auto;
    }
    .form-wrapper .section h3 { 
        font-size: 2.2em; 
    } 
    .main-agileits {
        padding: 2em 0 0;
    }
    .main-row {
        width: 63%;
        margin: 3em auto; 
    }
}
@media(max-width:800px){
    .form-wrapper .section h3 { 
        font-size: 2em; 
    }  
    .steps li { 
        margin: 20px; 
    }
    .form-wrapper input[type="text"], .form-wrapper input[type="email"], .form-wrapper input[type="password"] { 
        width: 55%; 
    }
    .form-wrapper .section {
        padding: 1em; 
        min-height: 290px;
    }
    .main-row { 
        min-height: 360px;
        margin: 2.5em auto;
    } 
}
@media(max-width:736px){
    h1 {
        font-size: 2.2em;
    }
    .main-row {
        width: 70%; 
    }
    .form-wrapper input[type="radio"] + label h4 {
        margin: 15px 0;  
    }
}
@media(max-width:667px){
    .form-wrapper .section p { 
        letter-spacing: 2px; 
    }
    .four.w3grids-agile:nth-child(2) {
        margin: 0 5%;
    }
    .form-wrapper input[type="radio"] + label h4 {
        margin: 10px 0; 
    }
}
@media(max-width:600px){
    .form-wrapper input[type="text"], .form-wrapper input[type="email"], .form-wrapper input[type="password"] {
        width: 65%;
    }
    .form-wrapper .section h3 {
        font-size: 1.8em;
        margin: 0.3em 0 0.8em;
    }
    .form-wrapper input[type="radio"] + label h4 {
        margin: 10px 0;
        font-size: 0.9em;
    }
    .form-wrapper .section { 
        min-height: 270px;
    } 
    .main-row {
        width: 80%;
    }
}
@media(max-width:480px){
    h1 {
        font-size: 2em;
    }
    .main-row {
        min-height: 338px;
        margin: 1.5em auto;
    }
    .form-wrapper .section h3 {
        font-size: 1.6em; 
    }
    .form-wrapper input[type="text"], .form-wrapper input[type="email"], .form-wrapper input[type="password"] {
        width: 75%;
    }
    .main-row {
        width: 90%;
    }
    .four.w3grids-agile {
        width: 31%;
    }
    .four.w3grids-agile:nth-child(2) {
        margin: 0 3%; 
    } 
} 
@media(max-width:414px){
    .form-wrapper .section p {
        letter-spacing: 1px;
        font-size: 0.9em;
    }
    .form-wrapper .button, .form-wrapper .submit { 
        font-size: 0.9em !important;  
    }
}
@media(max-width:384px){
    h1 {
        font-size: 1.7em;
    } 
    .steps li { 
        font-size: .9em;
    } 
    .w3copyright-agile p {
        font-size: 0.85em; 
        letter-spacing: 0px;
        padding: 0 1em;
    }
    .form-wrapper input[type="text"], .form-wrapper input[type="email"], .form-wrapper input[type="password"] {
        width: 80%;
        font-size: 0.8em !important;
        padding: 0.6em 1em;
    }
    .form-wrapper .section { 
        min-height: 260px;
    }
    .main-row {
        min-height: 316px; 
    }
    .form-wrapper input[type="radio"] + label h4 { 
        font-size: 0.8em;
    }
    .four.w3grids-agile {
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    .form-wrapper input[type="radio"] + label h4 {
        margin: 3px 0; 
    }
    .four.w3grids-agile:nth-child(2) {
        margin: 2% auto;
    }
    .form-wrapper input[type="radio"] + label { 
        padding: 4px; 
    }
    .form-wrapper .section h3 {
        font-size: 1.4em;
        margin: 0.1em 0 0.8em;
    }
} 
@media(max-width:320px){
    h1 {
        font-size: 1.5em;
    }
    .steps li {
        margin: 14px;
    }
    .main-row {
        min-height: 302px;
    }
}
/*-- //responsive-design --*/

.btn.md-close {
    position: absolute;
    display: inline-block;
    right: -15px;
    top: 0px;
    color: #cc0000;
    font-weight: bold;
    width: 79px;
    border: 0;
    padding: 0 !important;
    height: 32px;
}
