
/*================Departments==============*/
.error_success {
    margin-left: 36%;
    color: green;
}
.dep-view-sty {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dep-view-sty li {
    padding: 5px 30px;
    display: inline-block;
}
.t-stlye tr th {
    text-align: center;
    padding: 4px 20px;
}
.t-stlye tr td {
    padding: 15px 15px;
    text-align: justify;
}
.t-stlye tr:hover {
    background-color: #BCB;
    color: #fff;
}
.error {
    color: red;
}
.error-msg{
	color: red;
	margin-left: 16px;
}