img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
section.content-header.padding-bottom {
    padding-bottom: 30px;
}
hr {
    border: 0;
    height: 1px;
    background: #AA80CE;
    box-shadow: 0px 1px 0px #DDCCEB;
}
.button_sep {
    padding-top: 30px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
span.required {
    color: #cc0000;
}
span.error {
    color: #cc0000;
}
.form-control.custom-field {
    width: 84%;
    display: inline-block;
}

a.add_field_button {
    display: inline-block;
    background: #3C8DBC;
    color: #fff;
    padding: 7px 8px;
}
a.remove_field{
	display: inline-block;
    background: #DD4B39;
    color: #fff;
    padding: 7px 8px;
}
span.flash_success {
    background: green;
    display: block;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}
span.flash_error {
    background: #cc0000;
    display: block;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}
span#sum {
    display: inline-block;
    padding: 5px;
    background: #eee;
    width: 90%;
    margin-left: 2%;
    font-size: 18px;
    font-weight: 700;
}
#student_name .dispaly_name {
border: 1px solid #ddd;
padding: 16px;
display: block;
}
.dispaly_name.ajax_disply_name {
padding: 6px 20px !important;
background: rgba(255,173, 0, 0.1);
font-weight: 700;
}

table.table tr td a {
    margin: 0 2px;
    font-size: 18px;
}
td a i.fa.fa-pencil-square-o {
    color: blue;
}
td a i.fa.fa-trash-o {
    color: red;
}
#student_fee_details {
padding: 15px;
}
#student_fee_details .table.table-responsive {
margin-top: 37px;
}
.st_name_area {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
    font-weight: 600;
    padding: 7px 0;
}
.display_st_name {
    margin-left: 10px;
}

/*========== Invoice style ========*/

.invoice_area {
    border: 1px solid #eee;
    max-width: 770px;
    margin: 0 auto;
    width: 100%;
    padding: 2%;
}
.invoice_logo img {
    width: 155px;
    height: auto;
}
.invoice_logo {
    margin-bottom: 30px;
    float: left;
}
.invoice_logo span {
    margin: 55px;
    font-size: 19px;
    color: #00AEAC;
}
.versity_title h1 {
    color: #357CA5;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    font-family: New Century Schoolbook, serif;
}
.versity_title p {
    text-align: center;
    font-size: 16px;
    color: #357CA5;
}
.invoice_title h3 {
    margin-top: 0;
}
.invoice_title {
    float: right;
    padding-bottom: 20px;
}
.balance_due {
    float: right;
}
.st_info_invoice {
    margin: 0;
    padding: 0;
    list-style: none;
}
.st_info_invoice li {
    display: block;
    margin: 4px 0;
}
.st_info_invoice li strong {
    width: 68px;
    display: inline-block;
}
.invoice_total {
    float: right;
    width: 318px;
}
.invoice_area .table-responsive {
margin-top: 50px;
}
.invoice_area .table-responsive table tr{
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-color: #fff;
}
span.rcpt_notfound {
    display: block;
    margin-top: 40px;
    text-align: center;
    color: #cc0000;
    font-size: 18px;
}
.st_info_invoice li strong {
    width: 125px;
    display: inline-block;
}
.admission_profile {
    float: left;
}
.admission_profile img {
    margin-top: 10px;
}
.st_info_invoice {
    float: left;
    margin-left: 50px;
}
#border_bottom{
    border-bottom: 1px solid #f4f4f4;
}
.profile.clearfix {
    padding-top: 30px;
}
#logo_bottom {
    padding-bottom: 40px;
}
.balance_due h2 span {
    display: inline-block;
    font-size: 26px;
    margin-left: 18px;
    color: green;
}
.invoice_date{
    float: right;
    padding: 20px 0 0 0;
}
.invoice_date h4{
    color: #97CB11;
}